/* fonts */
@font-face {
    font-family: 'lemonmilkregular';
    src: url('../ProjectNETUX/lemonmilk/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lemonmilkmedium';
    src: url('../ProjectNETUX/lemonmilk/LEMONMILK-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lemonmilkbold';
    src: url('../ProjectNETUX/lemonmilk/LEMONMILK-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'lemonmilkmediumitalic';
    src: url('../ProjectNETUX/lemonmilk/LEMONMILK-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'lemonmilkbolditalic';
    src: url('../ProjectNETUX/lemonmilk/LEMONMILK-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* Algemene instellingen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    color: #222222;
    background-color: #F9F9F9;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem;
    background-color: #E3EBFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo */
#logo img {
    width: 150px;
    height: auto;
}

/* Navbar Menu in het midden */
.navbar-menu {
    display: flex;
    gap: 2.5rem;
    justify-content: center; /* Maakt de menu items gecentreerd */
    flex-grow: 1; /* Zorgt ervoor dat het menu zoveel mogelijk ruimte krijgt */
}

.navbar-menu li {
    list-style: none;
}

.navbar-menu a {
    color: #6893BA;
    font-size: 1.2em;
    font-weight: 500;
    transition: color 0.3s ease;
    text-decoration: none;
    font-family: 'lemonmilkregular', sans-serif;
}

.navbar-menu a:hover {
    color: #333333;
}

/* Navbar Icons aan de rechterkant */
.navbar-icons {
    display: flex;
    gap: 2rem; /* Ruimte tussen de iconen */
    align-items: center;
}

.navbar-icons li {
    list-style: none;
}

.navbar-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.navbar-icons img:hover {
    transform: scale(1.2); /* Vergroot de iconen bij hover */
}

/* Hero Section */
#hero {
    background-image: url('anastase-maragos-HyvE5SiKMUs-unsplash.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 15vh 5rem;
    text-align: center;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.4);
}

#hero .hero-content {
    max-width: 600px;
    margin: 0 auto;
}

#hero h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-family: 'lemonmilkbold', sans-serif;
        
}

#hero p {
    font-size: 1.5em;
    margin-bottom: 2rem;
}

#cta {
    background-color: #6893BA;
    border: none;
    padding: 1.2rem 3rem;
    font-size: 1.3em;
    color: #F5F5F5;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

#cta:hover {
    background-color: #E3EBFF;
    color: #222222;
}

/* Gear up Train harder Section */
#Gear-up-Train-harder {
    padding: 6rem 3rem;
    text-align: center;
    background-color: #F5F5F5;
}

#Gear-up-Train-harder h2 {
    font-size: 2.5em;
    margin-bottom: 3rem;
    color: #222222;
    font-family: 'lemonmilkbolditalic';
}

.items-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
}

.item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    height: 330px;
}

.item p {
    font-size: 1.1em;
    font-weight: 500;
    color: #222222;
    font-family: 'lemonmilkregular', sans-serif;
}

/* View More Button */
#view-more {
    background-color: #6893BA;
    border: none;
    padding: 1rem 2.5rem;
    font-size: 1.2em;
    color: #F5F5F5;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 3rem;
    transition: background-color 0.3s ease;
}

#view-more:hover {
    background-color: #E3EBFF;
    color: #222222;
}

/* Winter Collection Section */
#winter-collection {
    padding: 6rem 3rem;
    text-align: center;
    background-color: #E3EBFF;
}

#winter-collection h2 {
    font-size: 2.3em;
    margin-bottom: 3rem;
    color: #222222;
    font-family: 'lemonmilkmedium', sans-serif;
}

#view-more-winter {
    background-color: #6893BA;
    border: none;
    padding: 1rem 2.5rem;
    font-size: 1.2em;
    color: #F5F5F5;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 3rem;
    transition: background-color 0.3s ease;
    font-size: 0.8em;
    font-family: 'lemonmilkregular', sans-serif;
}

#view-more-winter:hover {
    background-color: #F5F5F5;
    color: #6893BA;
}

/* Footer */
.footer {
    background-color: #6893BA; /* Achtergrondkleur */
    display: flex;
    flex-direction: column; /* Alles onder elkaar */
    align-items: center; /* Horizontaal centreren */
    justify-content: center; /* Verticaal centreren */
    text-align: center; /* Tekst ook centreren */
    padding: 3vh 0;
    width: 100%; /* Volledige breedte benutten */
    color: white; /* Tekstkleur */
}

/* footer homepage */

.footer-hustlefit-homepage {
    background-color: #6893BA;
    list-style-type: none;
    display: flex;
    font-size: 1em;
}

#hustlefitlogo {
    width: 10vw;
    height: 10vh;
}


.footeritems-hustlefit {
    font-family: 'lemonmilkregular', sans-serif;
    display: flex;
    gap: 5vh;  /* Space between list items */
    padding: 0;
    color: #F5F5F5;
    list-style-type: none;
    align-items: center; /* Aligns items vertically */
}

.footeritems-hustlefit ul {
    display: flex;
    gap: 5vh;
    padding: 0;
    list-style-type: none;
    margin: 0; /* Remove unnecessary margin */
    margin-left: 27em;
}

.footeritems-hustlefit li {
    font-family: 'lemonmilkregular', sans-serif;
    color: #F5F5F5;
    list-style-type: none;
    margin: 0; /* Remove margin-left: 27vw; to keep everything aligned */
}

.sociaalmedia-footer {
    display: flex;
    gap: 2vw;
    margin-left: 28vw;
    margin-top: 1vh;
}

/* Social media iconen */
.sociaalmedia-footer {
    display: flex;
    gap: 1.5vw; /* Ruimte tussen de iconen */
    justify-content: center; /* Houdt de iconen in het midden */
    margin-top: 1vh;
    position: absolute; right: 5%;
}

/* Social media iconen styling */
.sociaalmedia-footer img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.sociaalmedia-footer img:hover {
    transform: scale(1.2); /* Vergroot icoon bij hover */
}

.social-media {
    display: flex;
    gap: 2rem;
}

.sociaalmedia-footer ul {
    display: flex;
    gap: 5vh;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-media a {
    color: #F5F5F5;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #222222;
}

/* Korting Banner */
#korting {
    font-size: 24px;
    font-weight: bold;
    color: #faf5f5; /* tekstkleur */
    background-color: #6793b2; /*achtergrond */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#discount {
    font-size: 24px;
    font-weight: bold;
    color: #faf5f5; /* tekstkleur */
    background-color: #6793b2; /*achtergrond */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#cta_homepage {
    background-color: #6893BA;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    color: #F5F5F5;
}

#cta {
    color: #F5F5F5;
    font-family: 'lemonmilkregular';
    text-align: center;
    font-size: 0.8em
}

#advertenties_homepage {
    list-style-type: none;
}
